# Default ignored files

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

/log/
/target/
.gradle/
/build/
# Default ignored files
/.idea/workspace.xml